# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Database
*.db
*.sqlite

# OS
.DS_Store
Thumbs.db

# Images & Logs
images/
*.jpg
*.png
*.log

# Frontend
node_modules/
dist/
build/
.env

# Editor
.vscode/
.idea/

# Models (Optional, but often large)
# yolov8n.pt 
# Keeping model for now as requested unless too large (6MB is fine)
